<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>test7.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>8F63F8AA407E9EC4308CA770F2EA3D4DB8980C91</string>
				<key>dateExpires</key>
				<string>2026/7/11</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8F63F8AA407E9EC4308CA770F2EA3D4DB8980C91</string>
						<key>dateExpires</key>
						<string>2026/7/11</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PZ8W663LPU</string>
						<key>name</key>
						<string>Mitowngame Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8F63F8AA407E9EC4308CA770F2EA3D4DB8980C91</string>
						<key>dateExpires</key>
						<string>2026/7/11</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PZ8W663LPU</string>
						<key>name</key>
						<string>Mitowngame Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8F63F8AA407E9EC4308CA770F2EA3D4DB8980C91</string>
						<key>dateExpires</key>
						<string>2026/7/11</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>camera_avfoundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PZ8W663LPU</string>
						<key>name</key>
						<string>Mitowngame Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8F63F8AA407E9EC4308CA770F2EA3D4DB8980C91</string>
						<key>dateExpires</key>
						<string>2026/7/11</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>fast_contacts.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PZ8W663LPU</string>
						<key>name</key>
						<string>Mitowngame Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8F63F8AA407E9EC4308CA770F2EA3D4DB8980C91</string>
						<key>dateExpires</key>
						<string>2026/7/11</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_native_splash.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PZ8W663LPU</string>
						<key>name</key>
						<string>Mitowngame Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.4.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8F63F8AA407E9EC4308CA770F2EA3D4DB8980C91</string>
						<key>dateExpires</key>
						<string>2026/7/11</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_pdfview.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PZ8W663LPU</string>
						<key>name</key>
						<string>Mitowngame Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8F63F8AA407E9EC4308CA770F2EA3D4DB8980C91</string>
						<key>dateExpires</key>
						<string>2026/7/11</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>geolocator_apple.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PZ8W663LPU</string>
						<key>name</key>
						<string>Mitowngame Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8F63F8AA407E9EC4308CA770F2EA3D4DB8980C91</string>
						<key>dateExpires</key>
						<string>2026/7/11</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>image_picker_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PZ8W663LPU</string>
						<key>name</key>
						<string>Mitowngame Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8F63F8AA407E9EC4308CA770F2EA3D4DB8980C91</string>
						<key>dateExpires</key>
						<string>2026/7/11</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PZ8W663LPU</string>
						<key>name</key>
						<string>Mitowngame Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8F63F8AA407E9EC4308CA770F2EA3D4DB8980C91</string>
						<key>dateExpires</key>
						<string>2026/7/11</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>photo_manager.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PZ8W663LPU</string>
						<key>name</key>
						<string>Mitowngame Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8F63F8AA407E9EC4308CA770F2EA3D4DB8980C91</string>
						<key>dateExpires</key>
						<string>2026/7/11</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>url_launcher_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PZ8W663LPU</string>
						<key>name</key>
						<string>Mitowngame Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8F63F8AA407E9EC4308CA770F2EA3D4DB8980C91</string>
						<key>dateExpires</key>
						<string>2026/7/11</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>video_player_avfoundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PZ8W663LPU</string>
						<key>name</key>
						<string>Mitowngame Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>PZ8W663LPU.com.loan.test7.m00002</string>
				<key>com.apple.developer.team-identifier</key>
				<string>PZ8W663LPU</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>0664a100-188c-4b6b-8d35-98cbc90056c7</string>
				<key>dateExpires</key>
				<string>2026/7/11</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.loan.test7.m00002</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>PZ8W663LPU</string>
				<key>name</key>
				<string>Mitowngame Co., Ltd.</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
